::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: #0d6efd;
}
.no-border{
  border: 0px ;
}
.list-style-none{
  list-style-type: none;
}
.check-valid{
  font-size: 0.7rem;
}
.check-valid.valid{
  color: green;
}
.check-valid.invalid{
  color: red;
}
.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
  cursor: pointer;
}

.btn-toggle::before {
  margin-right: 0.2rem;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: 50% 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
@mixin thumbnailCircle {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.icon-64{
  width: 64px;
  height: 64px;
  @include thumbnailCircle;
}
.icon-32{
  width: 32px;
  height: 32px;
  @include thumbnailCircle;
}