
@import "variables";

body{
  background-color: $backgroundColor;
}

.navbar{
  background-color: white;
}
.navbar-brand{
  display: block;
  
  img{
    object-fit: contain;
    width: $iconWidth;
    height: $iconWidth;
    // overflow: hidden;
  }
}
.nav-user__avatar{
  width: $avatarSize;
  height: $avatarSize;
  background-size: cover;
  background-repeat: no-repeat;
} 

.sidebar{
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: $navbarHeight;
  width: $sidebarWidth;
  background-color: #fff;
  .nav-item::before{
    content: "";
    width: 2px;
    height: 40px;
    display: block;
    position: absolute;
    left: 0;
  }
  .nav-item:hover:before{
    background-color: red;
  }
}
.content{
  padding: 0px 5px 0 $sidebarWidth;
}
.connect-me{
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: $sidebarWidth;
}


// post list
.post-list:not(.grid-mode){
  .post-item-thumbnail{
    margin-right: 0;
    width: $postListThumbnailSize;
    width: 20%;
  }
  .post-content{
    width: 80%;
  }
  
  
}
.post-item-thumbnail{ 
  width: 100%;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.post-title{
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  line-height: 1.6rem;
}
.tag-link{
  text-decoration: none;
  font-size: 0.9rem;
}
.tag-link:hover{
  text-decoration: underline;
}

.grid-mode{
  .post-item{
    display: flex;
    flex-direction: column;
  }  
}
// popular posts
.popular-post-list{
  counter-reset: popular-item-count;
}
.popular-post-item::before{
  padding-right: 0.25em;
  font-size: 2rem;
  font-weight: 700;
  content: "0" counter(popular-item-count);
  counter-increment: popular-item-count;
}
.popular-post{
  .tag-link{
    font-size: 0.7rem;
  }
  .post-title{
   line-height: 1.6rem;
  }
  .post-author, .post-published{
    font-size:0.8rem
  }
}
// nav-mobile
.top-link{
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 4;
}


// login sign up

#loginDialogModal{
  transition: all linear .5s !important;
}
.age-range{
  width: 100%;
}