<div class="modal  fade" id="loginModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" id="loginDialogModal">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalTitle">Login & Signup</h5>
        <button class="btn-close" data-bs-dismiss="modal" arial-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
          <li class="nav-item w-50" role="presentation">
            <button class="nav-link active w-100" id="loginTab" data-bs-toggle="tab" data-bs-target="#login" type="button" role="tab" aria-controls="home" aria-selected="true"><i class="fas fa-sign-in-alt me-2"></i>Login</button>
          </li>
          <li class="nav-item w-50" role="presentation">
            <button class="nav-link w-100" id="signupTab" data-bs-toggle="tab" data-bs-target="#signup" type="button" role="tab" aria-controls="profile" aria-selected="false"><i class="fas fa-user-plus me-2"></i> Signup</button>
          </li>
        </ul>
        <div class="tab-content py-3" id="myTabContent">
          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <form id="loginForm" class="row g-3 was-validated" action="/auth/login" method="post">
              <div class="col-lg-12">
                <label for="username" class="form-label">Username</label>
                <input type="text"  id="username" name="username" class="form-control" required placeholder="input your username....">
                <div class="valid-feedback">
                  look good!
                </div>
                <div class="invalid-feedback">
                  username must not be empty 
                </div>
              </div>
              <div class="col-lg-12">
                <label for="password" class="form-label">Password</label>
                <input type="password" autocomplete="on" id="password" name="password" class="form-control" required placeholder="input your password....">
                <div class="valid-feedback">
                  look good!
                </div>
                <div class="invalid-feedback">
                  password must not be empty
                </div>
              </div>
              <div class="col-lg-12">
                <button id="btnLoginForm" class="btn btn-primary">Login</button>
              </div>
            </form>
          </div>
          <div class="tab-pane fade" id="signup" role="tabpanel" aria-labelledby="signup-tab">
            <form class="row g-3" id="signupForm" action="/auth/signup" method="post" enctype="application/x-www-form-urlencoded" >
              <div class="col-6">
                <div class="col-lg-12">
                  <label for="signupUsername" class="form-label">Username</label>
                  <input type="text" id="signupUsername" required name="username" class="form-control" placeholder="input your username....">
                  <div class="valid-feedback">
                    Look good!
                  </div>
                </div>
                <div class="col-lg-12">
                  <label for="signupPassword"  class="form-label">Password</label>
                  <input type="password" autocomplete="on" id="signupPassword"required name="password" class="form-control" placeholder="input your password....">
                  <span id="lower" class="check-valid invalid"><i class="fas fa-dot-circle"></i>A <b>lowercase</b> letter</span>
                  <span id="capital" class="check-valid invalid"><i class="fas fa-dot-circle"></i>A <b>capital (uppercase)</b> letter</span>
                  <span id="number" class="check-valid invalid"><i class="fas fa-dot-circle"></i>A <b>number</b></span>
                  <span id="length" class="check-valid invalid"><i class="fas fa-dot-circle"></i>Minimum <b>8 characters</b></span>
                  <span id="special" class="check-valid invalid"><i class="fas fa-dot-circle"></i>one or more <b>special</b> characters</span>
                </div>
                <div class="col-lg-12">
                  <label for="retypePassword" class="form-label">Retype Password</label>
                  <input type="password" autocomplete="on" id="retypePassword" required class="form-control" placeholder="input your retype password....">
                  <div class="valid-feedback">Look good!</div>
                  <div class="invalid-feedback">Retype password does not match password</div>
                </div>
                <div id="gender" class="p-2">
                  <div class="form-check form-check-inline">
                    <input type="radio" name="gender" id="maleGender" class="form-check-input" value="m" checked>
                    <label for="maleGender" class="form-check-label">Male</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" name="gender" id="femaleGender" class="form-check-input" value="f">
                    <label for="femaleGender" class="form-check-label">Female</label>
                  </div>
                </div>
                <div class="col-lg-12">
                  <label for="email" class="form-label">Email</label>
                  <input type="text" id="email" name="email" required class="form-control" placeholder="input your email....@gmail.com">
                  <div class="valid-feedback">Look good!</div>
                  <div class="invalid-feedback">email is wrong format</div>
                </div>
                <div class="col-lg-12 mt-2">
                  <label for="dob" class="form-label">Date of birth</label>
                  <input type="date" name="dob" required class="dob" id="dob">
                </div>
              </div>
              <div class="col-6">
                <div class="col-12">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" id="address" name="address" class="form-control" placeholder="input your phone number....">
                </div>
                <div class="col-12">
                  <label for="biography" class="form-label">Biography</label>
                  <textarea type="text" id="biography" name="biography"rows="3" class="form-control" placeholder="input your biography...."></textarea>
                </div>
                <div class="col-12 m-3">
                  <input type="file" name="avatar" hidden class="custom-file-input" accept="image/*" id="avatar">
                  <label class="d-flex flex-column text-center" for="avatar" style="width: fit-content;">
                    <img class="border-danger img-thumbnail" id="displayAvatar" style="width: 128px; height: 128px; object-fit: contain;">
                    Avatar
                  </label>
                  <input type="hidden" name="avatarPath" id="avatarPath">
                </div>
              </div>
              <div>
                <button id="btnSignupForm" class="btn btn-primary">Sign up</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="position-fixed top-0 start-50 translate-middle-x p-3" style="z-index: 2000">
  <div id="loginToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="toast-icon fas fa-check text-primary" ></i>
      <strong class="me-auto toast-title ms-3">Bootstrap</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>
</div>